/*
colors:
darker:         #22252b
dark:           #292c33
blueish grays:  #7d8598, 93a1bb, c4d6fe
green:          #87b477
purple:         #b37ccf
red:            #be6b79
orange:         #d59a63
yellow:         #e3c18a
blue:           #3973ee
*/

.button {
    -fx-background-color: transparent;
    -fx-text-fill: #93a1bb;
    -fx-border-color:  #93a1bb;
    -fx-border-width: 2;
    -fx-border-radius: 4;
}

.button:hover {
    -fx-text-fill: #c4d6fe;
    -fx-border-color:  #c4d6fe;
}