/*
colors:
darker:         #22252b
dark:           #292c33
blueish grays:  #7d8598, 93a1bb, c4d6fe
green:          #87b477
purple:         #b37ccf
red:            #be6b79
orange:         #d59a63
yellow:         #e3c18a
blue:           #3973ee
*/

.center-pane {
    -fx-background-color: #292c33
}

.bottom-pane {
    -fx-background-color: #22252b
}

.label {
    -fx-text-fill: #93a1bb;
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-size: 14;
}

.button {
    -fx-background-color: transparent;
    -fx-text-fill: #93a1bb;
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-size: 14;
    -fx-border-color:  #93a1bb;
    -fx-border-radius: 3;
}

.button:hover {
    -fx-text-fill: #c4d6fe;
    -fx-border-color: #c4d6fe;
}

.slider {
    -jfx-default-thumb: #c4d6fe;
    -jfx-default-track: #7d8598;
}

.slider .track,
.slider:vertical .track {
    -fx-background-color: -jfx-default-track;
    -fx-background-radius: 11;
    -fx-background-insets: 0;
    -fx-pref-width: 10px;
    -fx-pref-height: 22px;
}

.slider .thumb,
.slider:focused .thumb {
    -fx-background-color: -jfx-default-thumb;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
}
.slider .thumb:hover,
.slider:focused .thumb:hover {
    -fx-background-color: #c4d6fe;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
}

.slider .colored-track {
    -fx-background-color: -jfx-default-thumb;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
}

.slider .slider-value {
    -fx-stroke: WHITE;
    -fx-font-size: 10;
}

.slider .animated-thumb {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-color: -jfx-default-thumb;
    -fx-background-radius: 50% 50% 50% 0%;
    -fx-background-insets: 0;
}

.slider:min .thumb,
.slider:min:focused .thumb {
    -fx-background-color: -jfx-default-track;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
}

.slider:min .animated-thumb {
    -fx-background-color: -jfx-default-track;
    -fx-background-radius: 50% 50% 50% 0%;
    -fx-background-insets: 0;
}


.check-box {
	-fx-text-fill: #93a1bb;
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-size: 14;
}

.check-box > .box {
	-fx-background-radius: 3;
	-fx-padding:0;
	-fx-border-color: #93a1bb;
	-fx-border-radius: 3;
	-fx-background-color: transparent;
}

.check-box > .box:hover {
	-fx-border-color: #c4d6fe;
}

.check-box > .box > .mark {
	-fx-background-color: null;
	-fx-padding: 0.416667em 0.416667em 0.5em 0.5em; /* 5 5 6 6 */
	-fx-shape: "M927.936 272.992l-68.288-68.288c-12.608-12.576-32.96-12.576-45.536 0l-409.44 409.44-194.752-196.16c-12.576-12.576-32.928-12.576-45.536 0l-68.288 68.288c-12.576 12.608-12.576 32.96 0 45.536l285.568 287.488c12.576 12.576 32.96 12.576 45.536 0l500.736-500.768c12.576-12.544 12.576-32.96 0-45.536z";
	-fx-background-insets: -3 -3 1 0;
}
.check-box {
	-fx-label-padding: 0.2em 0.0em 0.3em 0.416667em; /* 0 0 0 5 */
	-fx-padding: 0 0 2 0;
}
.check-box:indeterminate > .box {
	-fx-padding: 0;
}
.check-box:selected > .box > .mark {
	-fx-background-color: linear-gradient(to bottom, #93a1bb, #c4d6fe);
}


.progress-bar > .track{
    -fx-background-color: #7d8598;
}

.progress-bar:hover{
    -fx-border-radius: 3;
    -fx-border-color: #c4d6fe;
}

.progress-bar > .bar,
.progress-bar:indeterminate > .bar{
    -fx-background-color: #c4d6fe;
    -fx-padding: 1.5;
}

.progress-bar > .secondary-bar,
.progress-bar:indeterminate > .secondary-bar{
    -fx-background-color: #c4d6fe;
}

.progress-bar > .track,
.progress-bar > .bar {
    -fx-background-radius: 3;
    -fx-background-insets: 0;
}

.radio-button {
	-fx-label-padding: 0.0em 0.0em 0.1em 0.416667em; /* 0 0 0 5 */
	-fx-text-fill: #93a1bb;
    -fx-font-family: Arial, Helvetica, sans-serif;
                          -fx-font-size: 14;
	-fx-padding: 0 0 .5 0;
}
.radio-button > .radio,
.radio-button:focused > .radio  {
	-fx-border-color: #93a1bb;
	-fx-border-radius: 1em;
	-fx-background-radius: 1.0em; /* large value to make sure this remains circular */
	-fx-padding: 1 2 3 2;
	-fx-background-color: transparent;
}
.radio-button > .radio > .dot {
	-fx-background-color: transparent;
	-fx-background-radius: 1.0em; /* large value to make sure this remains circular */
	-fx-padding: 0.333333em; /* 4 -- radius of the inner black dot when selected */
	-fx-background-insets: 3 2 1 2;
}
.radio-button:selected > .radio,.radio-button:hover > .radio {
	-fx-fill-color: #93a1bb;
}
.radio-button:pressed > .radio {
	-fx-background-color: #93a1bb;
}
.radio-button:selected > .radio > .dot {
	-fx-background-color: #93a1bb;
}
