/*
colors:
darker:         #22252b
dark:           #292c33
blueish grays:  #7d8598, 93a1bb, c4d6fe
green:          #87b477
purple:         #b37ccf
red:            #be6b79
orange:         #d59a63
yellow:         #e3c18a
blue:           #3973ee
*/

.button {
    -fx-background-color: transparent;
    -fx-text-fill: #93a1bb;
    -fx-border-color:  #93a1bb;
    -fx-border-width: 2;
    -fx-border-radius: 4;
}

.button:hover {
    -fx-text-fill: #c4d6fe;
    -fx-border-color:  #c4d6fe;
}

.border-pane {
    -fx-background-color: #292c33
}

.bottom-pane {
    -fx-background-color: #22252b
}

.slider {
    -jfx-default-thumb: #93a1bb;
    -jfx-default-track: #CCCCCC;
}

.slider .track,
.slider:vertical .track {
    -fx-background-color: -jfx-default-track;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-pref-width: 2px;
    -fx-pref-height: 2px;
}

.slider .thumb,
.slider:focused .thumb {
    -fx-background-color: -jfx-default-thumb;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
}

.slider .colored-track {
    -fx-background-color: -jfx-default-thumb;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
}

.slider .slider-value {
    -fx-stroke: WHITE;
    -fx-font-size: 10;
}

.slider .animated-thumb {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-color: -jfx-default-thumb;
    -fx-background-radius: 50% 50% 50% 0%;
    -fx-background-insets: 0;
}

.slider:min .thumb,
.slider:min:focused .thumb {
    -fx-background-color: -jfx-default-track;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
}

.slider:min .animated-thumb {
    -fx-background-color: -jfx-default-track;
    -fx-background-radius: 50% 50% 50% 0%;
    -fx-background-insets: 0;
}

.check-box {
    -jfx-unchecked-color: #5A5A5A;
    -jfx-checked-color: #d59a63;
}

.check-box .box-container {
    -fx-shape: "M 400 100 L 400 100 A 50 50 0 1 1 400 250 A 50 50 0 1 1 400 100 ";
    -fx-padding: 10;
}

.check-box .box,
.check-box:indeterminate .box,
.check-box:indeterminate:selected .box{
    -fx-pref-width: 18;
    -fx-pref-height: 18;

    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;

    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 2;

    -fx-border-color: -jfx-unchecked-color;
    -fx-border-style: solid;
    -fx-border-radius: 2;
    -fx-border-width: 2;
}

.check-box:selected .box {
    -fx-border-color: -jfx-checked-color;
}

.check-box .mark {
    -fx-shape: "M384 690l452-452 60 60-512 512-238-238 60-60z";
    -fx-max-width: 15;
    -fx-max-height: 12;

    -fx-background-color: WHITE;

    -fx-border-color: WHITE;
    -fx-border-width: 2;
    -fx-border-radius: 2;
}

.check-box .indeterminate-mark{
    -fx-background-color: -jfx-checked-color;
    -fx-background-radius: 2;
    -fx-border-width: 0;
    -fx-max-width: 10;
    -fx-max-height: 10;
}


.progress-bar > .track{
    -fx-background-color: #7d8598;
}

.progress-bar > .bar,
.progress-bar:indeterminate > .bar{
    -fx-background-color: #c4d6fe;
    -fx-padding: 1.5;
}

.progress-bar > .secondary-bar,
.progress-bar:indeterminate > .secondary-bar{
    -fx-background-color: #c4d6fe;
}

.progress-bar > .track,
.progress-bar > .bar {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}